{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/ultimate_style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="logged">
        Good to see you, <span class="username">{{ user.username }}</span>!
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </div>
    <div class="navigation">
        <a href="{% url 'createtodo' %}">CREATE</a>
        <a href="{% url 'currenttodos' %}">CURRENT</a>
        <a href="{% url 'completedtodos' %}">COMPLETED</a>
    </div>
    {% else %}
        <div class="logged">
            <a href="{% url 'signupuser' %}">Sign up</a>
            <a href="{% url 'loginuser' %}">Login</a>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>