<title>Current toDos</title>
{% extends 'todoapp/base.html' %}
{% block content %}
    <div class="navigation-title">
        <h1>Current</h1>
    </div>
    {% if todos %}
    <div>
        <ul class="todos-list">
            {% for todo in todos %}
            <li>
                <a href="{% url 'viewtodo' todo.id %}">
                {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
                {% if todo.memo %} &mdash; <span class="todo-memo">{{ todo.memo }}</span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="nothing-to-do">
        <h1>Nothing to do!</h1>
    </div>
    {% endif %}

{% endblock %}

